
/* code van alle pagina's bij elkaar (j)(s)*/
html{
background: linear-gradient(to bottom right, #cc66ff 32%, #00cc99 100%);
background-size: 100%;
background-repeat: no-repeat;
font-family: sans-serif;
background-size: cover;
height: 100%
}

/* register code grijze vlakte ()*/
.registerplek{
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
background-color: rgba(255,255,255,0.4);
border-radius:25px;
padding:20px 50px;
}

/* login en wachtwoord vergeten code grijze vlakte (j)*/
.loginplekbg{

	padding: 60px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	background-color: rgba(255,255,255,0.4);
	border-radius: 25px;
}

/*login text (j)*/
.h1{
	font-family: sans-serif;
	color:  #ADADAD;
}

/* naam boven de registratie formulier(s)*/
.Registernaam{
padding-top:20px;
padding-bottom:5px;
font-size: 18px;
color: #333333;

}

/* registratie formulier (s)*/
.knoppen{
width: 270px;
padding: 10px;
margin: 15px 0;
border-radius: 8px;
background-color: rgba(255, 250, 210, 0.1);
border: 1px solid black;
max-width: 80%


}

 /*acc maken knop (register pagina (s)) */
.submit{
border:0;
height: 30px;
padding-right:20px;
padding-left:20px;
margin-top: 20px;
font-size: 17px;
background-color: transparent;
border-radius: 5px;
border: 1px solid black;

}

/* knoppen hover van de registratie pagina (s)*/
.submit:hover {
	background-color: #ADADAD;

}

/* knoppen hover van login en wachtwoord vergeten pagina (j)*/
.loginknop:hover {
	background-color: #ADADAD;

}

.massage{
margin-top: 20px;
text-decoration: none;

}

/* knoppen van de login  en wacht woord vergeten(j)*/
.loginknop{

	width: 110px;
	margin-top: 30px;
	margin-bottom: -20px;
	border-radius: 3px;
	padding: 5px;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid black;

}

/* input van login en wachtwoord vergeten(j) */
.jformulier{
  width: 280px;
  height: 15px;
  padding: 10px ;
  margin: 8px 0;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid black;

}

/* input van login en wachtwoord vergeten(j) */
.jformulier{
  width: 280px;
  height: 15px;
  padding: 10px;
  margin: 16px 0;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid black;

}

/* input van login en wachtwoord vergeten(j) */
.jformulier{
  width: 280px;
  height: 15px;
  padding: 10px;
  margin: 16px 0;
  border-radius: 8px;
  background-color: transparent;
  border: 1.5px solid black;

}

.mop{
	margin-top: 20px;
}
