html{
 font-family: 'Century Gothic',sans-serif;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0em;
}

.header-stefan{
  grid-row-start:1;
  grid-row-end:3;	
}
.tinymce{
	grid-row-start:3;
	grid-column-start:2;
}
.leeg{
	grid-row-start:2;
}


.test123{
	padding-top:150px;
	text-align: center;
	border-width:10px;
	border-style:solid;
	border-radius:10px;



	
}












