html{
 font-family: 'Century Gothic',sans-serif;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0em;
}

.test{
  grid-row-start:1;
  grid-row-end:5;	
}
.tekst{
  grid-column-start: 2;
  grid-row-start:2;
  grid-row-end:5;
}














