html {
  background-size: cover;
  background-color:   #FFF ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

/*  html{
background: linear-gradient(to bottom right, #cc66ff 32%, #00cc99 100%);
background-size: 100%;
background-repeat: no-repeat;
font-family: sans-serif;
background-size: cover;
height: 100%
}*/

}
.p1{
  text-decoration-color: red
}
.b1{
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  display: table;

}
.b1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;

}

/*Streep onder text weg*/
a {
    text-decoration: none !important;
}
/*Layout button */
.logout {
 background: ;
  width: 100px;
  cursor:pointer;
  border: 1.5px solid white;
  border-radius:40px;
  font-weight: bold;
  padding:2px 1px 2px;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  font-size:14px;
  text-align:left;
  text-indent:26px;
  display:block;
  margin:0 auto;
  position:fixed;
   right:50px;
   top:30px;

}

.header {
  background-image: linear-gradient(black, #272827);
  background-size: cover;
  padding: 12px;
  border-radius:0px;
  position: fixed;
  width: 100%;

}

body {
  margin: 0;
}

h1.site-title{
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 47px;
  letter-spacing: 1px;
  font-family: 'Century Gothic',sans-serif;
}

.column{
  font-family: 'Century Gothic',sans-serif;
  float: left;
  width: 40%;
  background-color: #FFF;

}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.content{
  max-width: 550px;
  margin: auto;
  text-align: center;
}
h1.page-title{
  font-family: 'Century Gothic',sans-serif;
  color: #000;
  font-size: 180%;
  text-shadow: 0 0 300px #000;
}
.btn-group{
  float: left;
  width: 20%
}

.middle{
  font-family: 'arial',sans-serif;
  padding: 15px;
  text-align: center;
  background: #FFF;
  color: black;
  border-radius:22px;
  font-size: 12px;;
  box-shadow: 4px 7px 35px 8px #888888;
  width: 100%;
  height: 100%;
  margin-top: 19%;

.btn-group button:not(:last-child) {
  border-bottom: none;
}

.btn-group button:hover {
  background-color: #3e8e41;
}
}
.content .btn:hover{
  color: #282728;
}
p{
    font-size: 120%;
    line-height: 130%;
    text-align: left;
    margin-top: 4%;
    font-family: sans-serif;

}
.UserProfileName{
  position: absolute;
  position: fixed;
  top: 0;
  width: 100%;
    top: 34px;
    right: 170px;
    font-size: 95%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    margin: 10;
  padding: 0;
  width: 9%;
  border-radius:22px;
  text-align: center;
}


#menu ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  top: 100px;
  left: 38%;
}

#menu li {
  float: left;
  padding: 0 15px;
}

#menu li a {
  display: block;
  color: white;
  position: relative;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
}

#menu li a:hover {
}

#menu li a:after{
  content: '';
  position: absolute;
  width: 0;
  height: 2.3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .4s ease;
}

#menu li a:hover:after,
#menu li a.active:after{
  width: 100%;
  left: 0;
  background: #fff;
}
.ProfilePicHok{
margin-top: 0;
}



/* dit is alleen voor login registreen en wachtwoord vergeten pagina's
/* code van alle pagina's bij elkaar (j)(s)*/
/*html{
background: linear-gradient(to bottom right, #cc66ff 32%, #00cc99 100%);
background-size: 100%;
background-repeat: no-repeat;
font-family: sans-serif;
background-size: cover;
height: 100%
}*/

/* register code grijze vlakte (s)*/
.registerplek{
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
background-color: rgba(255,255,255,0.4);
border-radius:25px;
padding:20px 50px;
}

/* login en wachtwoord vergeten code grijze vlakte (j)*/
.loginplekbg{

  padding: 60px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: rgba(255,255,255,0.4);
  border-radius: 25px;
}

/*login text (j)*/
h1{
  font-family: sans-serif;
  color:  black;
}

/* naam boven de registratie formulier(s)*/
.Registernaam{
padding-top:20px;
padding-bottom:5px;
font-size: 18px;
color: #262626;

}

/* registratie formulier (s)*/
.knoppen{
width: 270px;
padding: 10px;
margin: 15px 0;
`color:  black; 
border-radius: 8px;
background-color: transparent;   /*rgba(255, 250, 210, 0.1);*/

border: 1.4px solid black;
max-width: 80%;
}

 /*acc maken knop (register pagina (s)) */
.reg-submit{
border:0;
height: 30px;
padding-right:20px;
padding-left:20px;
margin-top: 20px;
font-size: 17px;
background-color: transparent;
border-radius: 5px;
border: 1px solid black;

}

/* knoppen hover van de registratie pagina (s)*/
.submit:hover {
  background-color: #ADADAD;

}

/* knoppen hover van login en wachtwoord vergeten pagina (j)*/
.loginknop:hover {
  background-color: #ADADAD;

}

.reg-massage{
margin-top: 20px;
text-decoration: none;
text-align:   center;
}

/* knoppen van de login  en wacht woord vergeten(j)*/
.loginknop{

  width: 110px;
  margin-top: 30px;
  margin-bottom: -20px;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;

}

/* input van login en wachtwoord vergeten(j) */
.formulierusername{
  width: 280px;
  height: 15px;
  padding: 10px ;
  margin: 8px 0;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid black;

}

/* input van login en wachtwoord vergeten(j) */
.formulieremail{
  width: 280px;
  height: 15px;
  padding: 10px;
  margin: 16px 0;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid black;

}

/* input van login en wachtwoord vergeten(j) */
.formulierwachtwoord{
  width: 280px;
  height: 15px;
  padding: 10px;
  margin: 16px 0;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid black;

}


.formulier{
  margin-top: 20px;
}



/*html {
  background-size: cover;
    background-color: #4d4d4d;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}*/
.wrapper_profile{
  margin: 70px 25%;
}
/*header area*/
.head_profile  ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  left: 0.5%;
}

.head_profile  li {
  float: left;
}

.head_profile li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.head_profile  li a:hover {
  background-color: #BDBDBD;

}
/*End header area*/
/*home page link / profile / admin*/
.welcome_profile{
font-size: 25px;
/*background: grey;*/
background-color: #1a1a1a;
padding: 10px 20px 10px 20px ;
border-radius: 5px;
color: #cccccc;
}
/*Edit profile title*/
.edit_profile_title{
  /*background: grey;*/
background-color: #333333;
padding: 10px 20px 10px 20px ;
margin-top: 40px;
border: 2px solid #333333;
font-style: sans-serif;
font-size: 25px;
border-radius:5px 5px 0px 0px;
color: white;
}
/*body van de hokjes */
.edit_profile_body{
min-height:300px;
border:solid#595959;
border-width:0px 3px 3px 3px;
border-radius: 0px 0px 5px 5px ;
background-color: #808080;
}
.edit_profile_body_text{
margin-left: 140px;
min-width: 100px;
font-style:times;
color: #353333;
font-size: 20px;
font-weight: bold;
float: left;
position: absolute;
right: 60%;

/*imput velden*/
}
.edit_profile_vakjes{
float:left;
display:inline;
text-align: left;
margin-top: 22px;
width: 220px;
padding: 10px;
margin: 15px 300px;
border-radius: 3px;
background-color: rgba(255, 250, 210, 0.1);
border: 1.4px solid #595959;
color: white;
}

input::placeholder {
  color: rgb(230, 230, 230, 0.8);
}
/*einde imput*/
/*Naast elkaar zetten imput en text*/
.edit_profile_body ul{
  list-style-type: none;
  overflow: auto;
}
.edit_profile_body li{
text-align: center;
}
/*De knoppen update*/
.submit{
border:0;
height: 40px;
padding-right:20px;
padding-left:20px;
margin-top: 20px;
margin-left: 45%;
font-size: 17px;
background-color: rgb(42, 112, 224);
border-radius: 5px;
border: 1px solid rgb(42, 112, 224) ;
color: white;
}
.ProfilePicture{
  width: 300px;
  height: 337px;
}


/*reponseive*/
@media all and (max-width: 1024px) {
    .edit_profile_body_text{
        margin-left: 0px;
        left: 0;
    }
    .edit_profile_body{
      width: 100%;
      height: 100%;
      margin: 0;
    }
    .wrapper_profile{
      margin: 0;
    }
    .edit_profile_vakjes{
      margin-left: 40%;
      width: 40%;
    }
}


.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0em;
}

.header-stefan{
  
}
.tinymce{
  padding: 100px;
  grid-row:2;
  grid-column-start:2;
}
.leeg{
  grid-column-start:1; 
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end: 5;
}
.page{
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  
}
.cont{
  padding: 200px 10%;
}
element.style {
    width: 100%;
    height: 1000px;
    display: block;
}
.grijzevlakte{
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
background-color: rgba(255,255,255,0.4);
border-radius:25px;
padding:20px 50px;
}
.title{
  font-family: sans-serif;
  color:  black;
}

.formulierwachtwoordvergeten{
  width: 280px;
  height: 15px;
  padding: 10px ;
  margin: 8px 0;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid black;

}
.confirmknop{

  width: 110px;
  margin-top: 30px;
  margin-bottom: -20px;
  border-radius: 100px;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;

}
